ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E6A8D2;
}

li{
    float: left;
}

li a{
    display: block;
    color: #6064B8;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

li a:hover{
    background-color: black;
}

.StorefrontIcon{
    display: block;
    float: right;
    color: #6064B8;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}